#main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.div_films {
  grid-column: 1;
}

#movie_card {
  grid-column: 2;
}
.home_card {
  float: "right";
  border: solid 1px black;
  padding: 4px;
}
#titles {
  text-align: center;
}
